.jotform-quiz-integration {

    .results-page,
    .landing {
        .text-uppercase {
            text-transform: uppercase !important;
        }

        .text-capitalize {
            text-transform: capitalize;
        }

        .text-black {
            color: black;
        }

        .font-weight-bold {
            font-weight: bold;
        }
    }
}
.text-center{
    text-align: center;
}