.landing 
  h2 Leading With Heart Assessment: 
    strong What Fears are holding you back? 
  p Does the road ahead require you to level up to lead your organization? Are you looking for ways to be a more effective leader to your team?
  p After three decades coaching executives (Velocity Coaching link) we’ve found that great leaders have something in common - connecting at a very human level to build strong high performing teams. We call this ‘Leading with Heart’ and we explore this in our best selling book.
  p The “Leading with Heart” assessment provides a brief look at one of the five conversations we explore in our book, and gives a clear picture of an area of most opportunity for you. In five minutes we help you know how you show up, and give you an invitation for next level leadership. Click below for personalized results you can action immediately. 
  p &nbsp;
  p.text-center
    a.sqs-block-button-element--medium.sqs-button-element--primary.take-assement-btn.sqs-block-button-element(href="/quiz.html") TAKE THE ASSESSMENT 