.landing 
  strong.quiz-sub-header Leading With Heart
  h2.quiz-header How is fear holding you back at work?
  p.quiz-strong Discover your Fear Archetype and how to work with it in 5 minutes.
  p.quiz-text  Fear holds all of us back at some point. This quiz will help you understand how fear impacts you in the workplace, and what you can do about it.
  a.quiz-button(href="/quiz.html") Take the assessment 