#yui_3_17_2_1_1703004172028_101.content
  #yui_3_17_2_1_1703004172028_100.blog-item-wrapper.blog-basic-grid-item-wrapper(data-content-field='main-content' data-item-id='')
    article#article-.h-entry.entry.hentry.post-type-
      #yui_3_17_2_1_1703004172028_99.blog-item-inner-wrapper
        div(id="app")