@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@-webkit-keyframes fade-out {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes fade-out {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

html {
  scroll-behavior: smooth;
}

.jotform-quiz-integration {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  @media (min-width: 992px) {
    max-width: 656px;

    .form-radio-item label {
      font-size: 14px;
    }

    //avoid using percentage or a grid in order to match the existing framework
  }

  @media (min-width: 1024px) {
    max-width: 700px;
  }

  @media (min-width: 1290px) {
    max-width: 848px;
  }

  @media (min-width: 1440px) {
    max-width: 954px;
  }

  @media (min-width: 1600px) {
    max-width: 1047px;
  }

  .results-section {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out, fade-out 0.4s ease-out both;
  }

  h2.quiz-header {
    margin-top: 12px;
    color: var(--Grey-900, #101828);
    /* Display md/Semibold */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 122.222% */
    letter-spacing: -0.72px;
  }

  strong.quiz-sub-header {
    color: #667085;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
  }

  .results-section,
  .landing {



    &--part-two {
      .results-section--btn-container {
        margin-top: 120px;
      }
    }

    &--btn-container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 28px;

      div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;

        .quiz-button {
          background-color: #59729D;
          color: var(--White, #FFF);
        }
      }
    }

    &.active {
      -webkit-animation: fade-in .4s cubic-bezier(.39, .575, .565, 1.000) both;
      animation: fade-in .4s cubic-bezier(.39, .575, .565, 1.000) both;
    }

    .btn-next {
      margin-left: auto;
    }

    .btn-prev:hover {
      opacity: .6;
    }

    hr {
      border: none;
      color: #bbb;
      background-color: var(--tweak-line-block-line-color);
      height: 1px;
    }

    h3 {
      opacity: .6;
      margin-bottom: 0;
    }

    .score-label {
      color: #101828;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      margin: 0 0 32px;
    }

    .scores {
      .quiz-strong {
        margin-bottom: 0;
      }

      ul {
        margin-bottom: 32px;
        padding: 0;
      }
    }

    .scoring {
      margin-bottom: 1.67em;
      color: black;
    }
  }
}

.take-assement-btn {
  background-color: hsla(195, 6.779661016949152%, 23.137254901960784%, 1);
  color: hsla(0, 0%, 100%, 1);

  &:hover {
    opacity: 0.6;
  }
}